* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon {
    display: flex;
    margin-left: 20px;
}

.logo-icon {
    margin-top: 25px;
    margin-left: 22px;
    width: 250px;
}

ul {
    display: flex;
    justify-content: center;
    align-content: center; 
    margin: 0;
    padding: 0; 
}

ul li {
    list-style: none;
    margin: 0 20px;
    margin-top: 25px;
    font-size: 20px;
    padding-left: 5px;
    border: solid;
    width: 120px;
    height: 40px;
    border-color: transparent;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #d1d1cf;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: 0.5s ;
    box-shadow: 2px 2px 4px rgb(98, 98, 98);
}

ul li a {
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    font-size: 20px;
    
    
}

ul li:hover {
    background-color: #0F2A1D;
    box-shadow: 2px 2px 4px rgb(8, 30, 19);
}

.home {
    margin-left: 150px;
}
.home-logo {
    margin-left: 10px;
}

.shop-logo {
    margin-left: 10px;
}

.sell-logo {
    margin-left: 10px;
}

.pro-logo {
    margin-left: 10px;
}

ul li img {
    margin-left: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.cart-logo {
    margin-top: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgb(98, 98, 98);
    margin-left: 250px;
}

.cart-badge {
    position: absolute;
    top: 35px;
    right: 128px;
    background-color: #6B9071;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    animation: popUp 0.3s ease-out;
}

.user-logo {
    margin-top: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgb(98, 98, 98);
    margin-right: 60px;
    padding: 0;
}

.content {
    display: flex;   
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 1450px;
    height: 660px;
    background-color: #0F2A1D;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
